.main {
  background-size: cover;
  width: 100%;
  max-height: 100%;
  display: flex;
}
.section {
  background-color: rgba(255, 255, 255, 0.9);
  margin: 50px auto;
  width: 70%;
}
.title {
  text-align: center;
  border-bottom: 2px black solid;
  max-width: 425px;
  margin: 50px auto;
}
.main form {
  padding: 5px 100px;
  margin: auto;
}
.title h1 {
  font-size: 30px;
}
.main p {
  font-size: 12px;
  padding-bottom: 15px;
}
.main input {
  border: 1px grey solid;
  height: 40px;
  margin: 5px 5px;
  padding: 0 10px;
}
.inputItems {
  padding-bottom: 10px;
  padding-left: 25px;
}
.inpuItems label {
  font-size: 13px;
  margin-bottom: 5px;
}
.inputParts {
  width: 100%;
}
.buttonArea {
  text-align: center;
  margin-top: 30px;
}
.primary {
  font-size: 7px;
  margin-left: 5px;
  padding: 3px 9px;
  color: red;
  border: 1px red solid;
}
.submitButton {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 20px 60px;
  font-size: 17px;
}
.completeText {
  color: red;
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
}
