.menu{
    display: flex;
    justify-content: space-evenly;
    min-width: 1280px;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1.5px solid #f5f5f5;
}
.body{
    max-width: 100%;
    width: 100%;
    min-width: 1280px;
}
.menuLabel{
    font-size: 13px;
}
.iconModule{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form{
    display: flex;
    align-items: center;
}
