.body{
    width: 80%;
    margin: auto;
}
.card{
    display: flex;
    height: 100px;
}
.cardContents{
    display: flex;
    flex-direction: column;
}
.cardImage{
    height: 100%;
    width: auto;
}
.title{
    font-size: 30px;
    font-weight: bold;
}
