.logo{
    background-color: rgba(255, 255, 255, 0.7);
}
.buttonArea{
    margin-top: 30px;
}
.main{
    height: 2100px;
    width: 100%;
    min-width: 1280px;
}
.content{
    margin-top: 75px;
}
.buttonContent{
    text-align: center;
}
.categoryList{
    margin-top: 40px;
}
.scrollArea{
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scroll{
    margin-top: 30px;
    width: 65%;
    height: 350px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    border: 2px rgba(133, 133, 133, 0.1) solid;
}
.announce{
    margin: 15px 20px;
    border-bottom: 1px black solid;
}
.date{
    font-size: 13px;
}
.announceData{
    padding: 10px;
}
.bigImage{
    width: 285px;
    height: 285px;
}
.smallImage{
    width: 120px;
    height: 120px;
}
.smallImagePrice{
    display: flex;
}
.price{
    font-size: 15px;
}
.inTax{
    font-size: 10px;
}
.container{
    height: 650px;
    margin-top: 40px;
}
.topImage {
    position: absolute;
	width: 100%;
	opacity: 0;
	animation: change-img-anim 15s infinite;
}
.topImage:nth-of-type(1) {
    animation: change-img-anim-first 15s infinite;
	animation-delay: 0s;
}
.topImage:nth-of-type(2) {
	animation-delay: 5s;
}
.topImage:nth-of-type(3) {
	animation-delay: 10s;
}
@keyframes change-img-anim-first {
  0%{ opacity: 1;}
  30%{ opacity: 1;}
  36%{ opacity: 1;}
  45%{ opacity: 0;}
  100%{ opacity: 0;}
}
@keyframes change-img-anim {
  0%{ opacity: 0;}
  30%{ opacity: 1;}
  36%{ opacity: 1;}
  45%{ opacity: 0;}
  100%{ opacity: 0;}
}
